<%=$game.player1.name %> vs. <%= $game.player2.name %>
<br>
<%= $game.player1.name %> has <%= $game.player1.points %> hit points <br>
<%= $game.player2.name %> has <%= $game.player2.points %> hit points <br>
<% if @confirm %>
  <%= @confirm %>
<% end %>

<form action='/attack' method="post">
   <input type="submit" value="Attack">
</form>
