<%=$player1.name %> vs. <%= $player2.name %>
<br>
<%= @player2_name %> has <%= @player2_points %> hit points
<br>
<% if @confirm %>
  <%= @confirm %>
<% end %>

<form action='/attack' method="post">
   <input type="submit" value="Attack">
</form>
